{{#>Base }} 
  
  {{#*inline "Page"}}
 <!-- Comic Page -->
      <div class="container">
        <!-- Date of Posting -->
        <h6>{{date}}</h6>
        <!-- Chapter Name and page number-->
        <h4>Chapter {{currentCh}}: {{title}} - Page {{currentPg}}</h4>
        <!-- Comic image -->

        <!-- <img class="mx-auto d-block img-fluid" width="66%" src="https://via.placeholder.com/2250x3500.png?text=Star+Warrior+Legends+Comic+Goes+Here" /> -->
        <img class="mx-auto d-block img-fluid" src="{{img}}" />
      </div>
      <!-- Comic Navigation --> 

      <ul class="d-flex nav justify-content-center my-3">
        <li class="nav-item">
          <a class="nav-link px-1 px-sm-2 px-md-3 px-lg-5" href="{{first}}" role="button">First</a>
        </li>

        <li class="nav-item">
          <a class="nav-link px-1 px-sm-2 px-md-3 px-lg-5 " href="{{prev}}" role="button">Prev</a>
        </li>
        <!-- Drop down Menu -->
        <li class="nav-item">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle mt-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Chapter {{currentCh}} Page {{currentPg}}
            </button>
            <div class="dropdown-menu mx-auto scroll-dropdown-menu" aria-labelledby="dropdownMenuButton">
              {{#each menu}}
                {{#with this}}
                  <h6 class="dropdown-header">{{title}}</h6>
                  {{#each pages}}
                    <a class="dropdown-item" href="{{link}}">Page {{page}}</a>
                  {{/each}}
                {{/with}}
              {{/each}}
            </div>
          </div>
        </li>
        <!-- End of Menu -->
        <li class="nav-item ">
          <a class="nav-link px-1 px-sm-2 px-md-3 px-lg-5" href="{{next}}" role="button">Next</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-1 px-sm-2 px-md-3 px-lg-5" href="{{last}}" role="button">Last</a>
        </li>
      </ul>	
      <!-- End of Comic Navigation-->
      {{#if note}}
        <div class="card mx-4 mx-sm-2 mx-md-3">
          <div class="card-header">
            Authors Notes
          </div>
          <div class="card-body">
            <p>{{note}}</p>
          </div>
        </div>

      {{/if}}
  {{/inline}}
{{/Base}}